.nvim.lua
.envrc
.venv/
output-*.txt
output.txt
__pycache__/

tree-sitter-x/
node_modules
tree-sitter-baseline/bindings
tree-sitter-baseline/Cargo.toml
tree-sitter-baseline/binding.gyp
tree-sitter-baseline/example-file
tree-sitter-baseline/package-lock.json
tree-sitter-baseline/package.json
package-lock.json
package.json

tree-sitter-x
tree-sitter-html
